{% extends "root.html" %} 

{% block main %}

{% if dic['total_counts'] %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Welcome!</strong> Target remaining macros for the day: &emsp;Calories: {{"%.2f"|format(session['calories'] - dic['total_counts']['SUM(calories)'])}} 
                                                          &emsp;Carbs(g): {{"%.2f"|format(session['carbs'] - dic['total_counts']['SUM(carbohydrates_total_g)'])}}
                                                          &emsp;Protein(g): {{"%.2f"|format(session['protein'] - dic['total_counts']['SUM(protein_g)'])}}
                                                          &emsp;Fat(g): {{"%.2f"|format(session['fat'] - dic['total_counts']['SUM(fat_total_g)'])}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container" style="max-width: 767.98px">
  <div style="margin: auto; display: block;">
    <label style="font-size: 30px;"><b>Today's diet</b></label>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add entry
    </button>
  </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/diet" method="post" id="form">
            <div class="row" id="form-row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Food name" aria-label="First name" name="food">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Servings /100g" aria-label="Last name" name="servings"> 
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary"> Submit</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>



</div>
{% if dic['total_counts'] %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        {% for header in dic['header_list'] %}
          {% if header not in ["user_id", "entry_id", "diet_id"] %}
          <th scope="col">{{header}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in dic['query_rows'] %}
      <tr>
        {% for r in row %}
        {% if loop.index0 not in [0,4,5] %}
          <td>{{r}}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <!-- Loop to fill empty td at cells 1-3 -->
      <tr>
        <td></td>
        <td></td>
        <td><b>Total:</b></td>
        
        {% for count in dic['total_counts'] %}        
        <td>{{"%.2f"|format(count)}}</td>
        {% endfor %}
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td><b>Remaining:</b></td>
        <td>{{"%.2f"|format(session['calories'] - dic['total_counts']['SUM(calories)'])}}</td>
        <td>{{"%.2f"|format(session['carbs'] - dic['total_counts']['SUM(carbohydrates_total_g)'])}}</td>
        <td>{{"%.2f"|format(session['protein'] - dic['total_counts']['SUM(protein_g)'])}}</td>
        <td></td>
        <td>{{"%.2f"|format(session['fat'] - dic['total_counts']['SUM(fat_total_g)'])}}</td>
        {% for i in range (5) %}
          <td></td>
        {% endfor %}
      </tr>
    </tfoot>  
  </table>
</div>
{% else %}
Table is empty
{% endif %}

{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}